In [1]:
import commonFunctions as cf
from BacktestPlatform import TradeBlotter, Details
import numpy as np
import pandas as pd
import scipy as sp
from datetime import datetime, date, timedelta

In [2]:
url_cryto = "https://finance.yahoo.com/cryptocurrencies"
symbols = cf.get_symbols_multiple_pages(url_cryto, attr="data-symbol")
cols = ["Open", "High", "Low", "Close", "Adj Close", "Volume"]
print(len(symbols))

end = datetime.now()
start = end - timedelta(days=365)
data = cf.get_data(symbols, start=start, end=end)
data.head()

Get Symbol Finished
112
[*********************100%***********************]  112 of 112 downloaded

           Adj Close                                                          \
             ADA-USD ADX-USD AE-USD ANT-USD ARDR-USD ARK-USD ATB-USD ATM-USD
Date
2018-07-01    0.1425  0.3925  1.912   1.863   0.1490   1.431  0.0131     NaN
2018-07-02    0.1535  0.4243  2.110   1.914   0.1684   1.552  0.0131     NaN
2018-07-03    0.1498  0.4164  2.019   1.918   0.1574   1.506  0.0131     NaN
2018-07-04    0.1511  0.4435  2.125   1.939   0.1599   1.582  0.0131     NaN
2018-07-05    0.1480  0.4101  2.138   1.936   0.1565   1.492  0.0131     NaN

                               ...   Volume                             \
           BAT-USD BCCOIN-USD  ...  XLM-USD  XMR-USD XRB-USD   XRP-USD
Date                           ...
2018-07-01  0.2600        1.0  ...  1523426  3712245     NaN  11796272
2018-07-02  0.2706        1.0  ...  2145753  7626940     NaN  25177023
2018-07-03  0.2499        1.0  ...  2953357  4981826     NaN  28730745
2018-07-04  0.2521        1.0  ...   819928  3594269     NaN  20670348
2018-07-05  0.2433        1.0  ...  1117383  4899146     NaN  21292111


           XUC-USD   XVG-USD  XZC-USD  ZEC-USD  ZEN-USD ZRX-USD
Date
2018-07-01    3277   8496061   613509  1297609   638129  122428
2018-07-02    6666  16146356  1174660  4338926  1936272  564545
2018-07-03    2458  10837998   757996  3563856  1047469  466059
2018-07-04    3507   6582752   660790  2320155  1107540  243276
2018-07-05    8994   7106690   631162  1927257   934083  699385

[5 rows x 672 columns]

In [3]:
data_dict = cf.get_data_dict(symbols, data, cols, batch=10)
data_dict['ADA-USD'].head()

Finished

              Open    High     Low   Close  Adj Close     Volume
Date
2018-07-01  0.1425  0.1425  0.1459  0.1331     0.1385   926590.0
2018-07-02  0.1535  0.1535  0.1596  0.1376     0.1425  2372276.0
2018-07-03  0.1498  0.1498  0.1610  0.1475     0.1535  1635259.0
2018-07-04  0.1511  0.1511  0.1595  0.1456     0.1498  1261253.0
2018-07-05  0.1480  0.1480  0.1558  0.1430     0.1511  1369781.0

In [4]:
d = datetime(2018,6,29)
d in data_dict['ADA-USD'].index

False

In [5]:
d.strftime('%Y-%m-%d')

'2018-06-29'

In [10]:
def addTrade(tradeBlotter, entryDate, entryPrice, direction, exitPrice, live, market, 
             realizedPnl, unrealizedPnl, stopLevel, exitDate, stopOrExit):
    tradeBlotter.entryDate.append(entryDate.strftime('%Y-%m-%d'))
    tradeBlotter.entryPrice.append(entryPrice)
    tradeBlotter.direction.append(direction)
    tradeBlotter.exitPrice.append(exitPrice)
    tradeBlotter.live.append(live)
    tradeBlotter.market.append(market)
    tradeBlotter.realizedPnl.append(realizedPnl)
    tradeBlotter.unrealizedPnl.append(unrealizedPnl)
    tradeBlotter.stopLevel.append(stopLevel)
    tradeBlotter.exitDate.append(exitDate)
    tradeBlotter.stopOrExit.append(stopOrExit)
    tid = len(tradeBlotter.entryPrice)-1
    if not market in tradeBlotter.openTrades:
        tradeBlotter.openTrades[market] = [tid]
    else:
        tradeBlotter.openTrades[market].append(tid)
    return tid

def getUnrealizedPnl(tradeBlotter, curPrice, market):
    unrealizedPnl = 0
    if not market in tradeBlotter.openTrades:
        return unrealizedPnl
    for tid in tradeBlotter.openTrades[market]:
        tradeBlotter.unrealizedPnl[tid] = (curPrice - tradeBlotter.entryPrice[tid]) * tradeBlotter.direction[tid]
        unrealizedPnl += tradeBlotter.unrealizedPnl[tid]
    return unrealizedPnl
        
        
def closeTrade(tradeBlotter, curPrice, curDate, market):
    realizedPnl = 0
    while tradeBlotter.openTrades[market]:
        tid = tradeBlotter.openTrades[market][0]
        tradeBlotter.openTrades[market] = tradeBlotter.openTrades[market][1:]  # pop the first tid
        tradeBlotter.exitPrice[tid] = curPrice
        tradeBlotter.exitDate[tid] = curDate.strftime('%Y-%m-%d')
        tradeBlotter.unrealizedPnl[tid] = 0
        tradeBlotter.live[tid] = 0
        tradeBlotter.realizedPnl[tid] = (curPrice - tradeBlotter.entryPrice[tid]) *  tradeBlotter.direction[tid]
        realizedPnl += tradeBlotter.realizedPnl[tid]
    del tradeBlotter.openTrades[market]
    return realizedPnl
    
def updatePortfolio(tradeBlotter, mkt, entryPrice, entryDate, unit):
    entryDate = entryDate.strftime('%Y-%m-%d')
    portfolio = {} if tradeBlotter.lastPortfolioUpdateDate == None else tradeBlotter.portfolioHistory[tradeBlotter.lastPortfolioUpdateDate]   # problem here. should carry over the last portfolio
    details = Details(unit, entryPrice, entryDate)
    if mkt in portfolio:
        portfolio[mkt].append(details)
    else:
        portfolio[mkt] = [details]
    tradeBlotter.portfolioHistory[entryDate] = portfolio
    tradeBlotter.lastPortfolioUpdateDate = entryDate

In [33]:
def backtest(mktData, tradeBlotter, startDate, endDate, totalCapital):
    dateList = cf.get_dates_list(startDate, endDate)
    navs = [totalCapital]*len(dateList)
    cash = totalCapital
    for i, curDate in enumerate(dateList):
        realizedPnl, unrealizedPnl, curDate = 0, 0, pd.Timestamp(curDate.year, curDate.month, curDate.day)
        for mkt, data in mktData.items():
            curPrice = data['Adj Close'][curDate]
            if not curDate in data.index:
                continue
            if data['Adj Close'][curDate] > 10000 and cash >= curPrice:    # CHECK BUY
                cash -= curPrice
                tid = addTrade(tradeBlotter, curDate, curPrice, 1, np.nan, 1, mkt, np.nan, np.nan, curPrice*0.7, np.nan, np.nan)
                updatePortfolio(tradeBlotter, mkt, curPrice, curDate, 1)
            if data['Adj Close'][curDate] < 10000 and mkt in tradeBlotter.openTrades: # CHECK SELL
                realizedPnl += closeTrade(tradeBlotter, curPrice, curDate, mkt)
                cash += realizedPnl
            unrealizedPnl += getUnrealizedPnl(tradeBlotter, curPrice, mkt)
        if i != 0:
            if (i == len(dateList)-6):
                print(navs[i-1], realizedPnl, unrealizedPnl)
            navs[i] = navs[i-1] + realizedPnl + unrealizedPnl
    return pd.DataFrame(navs, index=pd.Series(dateList).apply(lambda x: x.strftime('%Y-%m-%d')), columns=['NAV'])

In [8]:
test_data_dict = {'BTC-USD': data_dict['BTC-USD']}

In [28]:
11035.74-10769.19

266.5499999999993

In [39]:
tp = data_dict['BTC-USD']['Adj Close'].tail(10).tolist()

In [42]:
np.diff(tp).sum()

550.3199999999997

In [35]:
df_tb = tb.toDataFrame()
df_tb

,Entry Date,Market,Entry Price,Direction,Live,Stop Level,Exit Price,Exit Date,Unrealized PnL,Realized PnL,Stop/Exit
0,2019-06-22,BTC-USD,10218.87,1,1,7153.209,nan,nan,550.3199999999997,nan,nan
1,2019-06-23,BTC-USD,10689.54,1,1,7482.678,nan,nan,79.64999999999964,nan,nan
2,2019-06-24,BTC-USD,10855.99,1,1,7599.192999999999,nan,nan,-86.79999999999927,nan,nan
3,2019-06-25,BTC-USD,11035.74,1,1,7725.017999999999,nan,nan,-266.5499999999993,nan,nan
4,2019-06-26,BTC-USD,11740.34,1,1,8218.238,nan,nan,-971.1499999999996,nan,nan
5,2019-06-27,BTC-USD,12913.28,1,1,9039.296,nan,nan,-2144.09,nan,nan
6,2019-06-28,BTC-USD,11154.09,1,1,7807.862999999999,nan,nan,-384.89999999999964,nan,nan
7,2019-06-29,BTC-USD,12355.06,1,1,8648.542,nan,nan,-1585.869999999999,nan,nan

In [32]:
#TODO: 
# 1. update portfolio when closing trade and update unrealized pnl. 
# 2. enable detail / normal view of portfolio by multiindex
# 3. move these functions to BP
# 4. calculation of pnls may be wrong. UNREALIZED PNL = curPrice - prePrice not minus entryPrice!!!
def getPortfolio(date):
    if not date in tb.portfolioHistory:
        return None
    portfolio = tb.portfolioHistory[date]
    index, data= [], []
    for mkt, details in portfolio.items():
        for detail in details:
            index.append(mkt)
            data.append(detail.toList())
    print(index)
    return pd.DataFrame(np.array(data), index=index, columns=["Entry Price", "Entry Date", "Unit", "Unrealized PnL"])

In [27]:
getPortfolio(df_tb['Entry Date'][0])

['BTC-USD', 'BTC-USD', 'BTC-USD', 'BTC-USD', 'BTC-USD', 'BTC-USD']

        Entry Price  Entry Date Unit Unrealized PnL
BTC-USD    11035.74  2019-06-25    1              0
BTC-USD    11740.34  2019-06-26    1              0
BTC-USD    12913.28  2019-06-27    1              0
BTC-USD    11154.09  2019-06-28    1              0
BTC-USD    12355.06  2019-06-29    1              0
BTC-USD     11884.1  2019-06-30    1              0

In [34]:
tb = TradeBlotter()
totalCapital = 100000
navs = backtest(test_data_dict, tb, start, end, totalCapital)
navs

102617.05999999998 0 4161.219999999999

                  NAV
2018-07-01  100000.00
2018-07-02  100000.00
2018-07-03  100000.00
2018-07-04  100000.00
2018-07-05  100000.00
2018-07-06  100000.00
2018-07-07  100000.00
2018-07-08  100000.00
2018-07-09  100000.00
2018-07-10  100000.00
2018-07-11  100000.00
2018-07-12  100000.00
2018-07-13  100000.00
2018-07-14  100000.00
2018-07-15  100000.00
2018-07-16  100000.00
2018-07-17  100000.00
2018-07-18  100000.00
2018-07-19  100000.00
2018-07-20  100000.00
2018-07-21  100000.00
2018-07-22  100000.00
2018-07-23  100000.00
2018-07-24  100000.00
2018-07-25  100000.00
2018-07-26  100000.00
2018-07-27  100000.00
2018-07-28  100000.00
2018-07-29  100000.00
2018-07-30  100000.00
...               ...
2019-06-02  100000.00
2019-06-03  100000.00
2019-06-04  100000.00
2019-06-05  100000.00
2019-06-06  100000.00
2019-06-07  100000.00
2019-06-08  100000.00
2019-06-09  100000.00
2019-06-10  100000.00
2019-06-11  100000.00
2019-06-12  100000.00
2019-06-13  100000.00
2019-06-14  100000.00
2019-06-15  100000.00
2019-06-16  100000.00
2019-06-17  100000.00
2019-06-18  100000.00
2019-06-19  100000.00
2019-06-20  100000.00
2019-06-21  100000.00
2019-06-22  100000.00
2019-06-23  100470.67
2019-06-24  101274.24
2019-06-25  102617.06
2019-06-26  106778.28
2019-06-27  116804.20
2019-06-28  116274.98
2019-06-29  124152.55
2019-06-30  128262.44
2019-07-01  123453.05

[366 rows x 1 columns]

In [9]:
d1 = datetime(2018, 6, 28)  # start date
d2 = datetime(2019, 6, 28)  # end date
date_list = cf.get_dates_list(d1, d2)
date_list[0] in data_dict['BTC-USD'].index

True